<div class="container">
<%= simple_form_for @interviewer, html: {  multipart: true } do |f| %>
    <% if @interviewer.errors.any? %>
    
      <div id="errors" class="text-danger">
        <h3>
        <%= pluralize(@interviewer.errors.count, "error") %>
        prevented this post from being saved
        </h3>
        <% @interviewer.errors.each do |attr, msg| %>
          <li>
          <%= @interview.errors.full_messages_for(attr).first if @interview.errors[attr].first == msg %>
          </li>
        <% end %>
      </div>
    <% end %>
    <div class="form-wrapper">
    <div class="form-group text-center ">
      <%= f.input :name  %>
    </div>
    <div class="form-group text-center">
      <%= f.input :desc %>
    </div>
    <div class="form-group text-center">
      <%= f.input :email, placeholder: "enter the email ID"  %>
    </div>
    
    <div class="form-group text-center">
      <%= f.button :submit, class: 'btn-success' %>
    </div>
    <div class="text-center">
      <%= link_to 'Cancel', root_path %>
    </div>
 
<% end %>
</div>  
</div>